@charset "utf-8";
/*typeahead下拉查询组件*/
.typeahead-wrapper{
	display: inline-block;
	vertical-align:middle;
	border: 1px solid #a3adba;
}
.typeahead-wrapper.hide{
	display: none;
}
input.typeahead {
	width: 120px;
	height:28px;
	margin: 0px;
	height: 30px;
    line-height: 20px;
    padding: 4px 10px;
	float:left;
	border: none;
}
input.typeahead[data-entity="employee"]{
	width:100px;
}
input.typeahead:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.typeahead-search{
    position: relative;
	height: 30px;
	width: 20px;
	padding: 3px;
	margin:0px;
	border:none;
	background:transparent;
	cursor: pointer;
	float:right;
}
.typeahead-search:hover{
	background:transparent;
}
.typeahead-search i{
	color: #0088cc;
	font-size: 14px;
	line-height: 18px;
}
.tt-suggestion{
	position:absolute;
	z-index: 100;
	height: auto;
	max-height: 288px;
	overflow:hidden;
	padding:0px;
	margin: 28px 0px 0px -1px;
	display: block;
	background-color: #ffffff;
}
.tt-suggestion p{
	height:26px;
	line-height: 20px !important;
	width:160px;
	margin:0px;
	padding: 3px 5px;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tt-suggestion .employee{
	width:120px;
}
.tt-suggestion p:hover{
	color:#fff;
	background: #0088cc;
	cursor:pointer;
}
.tt-suggestion .employee img{
	height: 20px;
	width: 20px;
	margin-right: 5px;
}
.tt-suggestion .employee.invite i{
	font-size: 18px;
	float: left;
	margin-left: -5px;
}
.tt-suggestion .employee.invite span{
	color: #96cafe;
}
#searchList .decoration-none{
	text-decoration: none;
}
/*共享*/
.entity-simpleshare .typeahead-wrapper{
	width:atuo;
}
.entity-simpleshare select{
	float: left;
	width:85px;
	border-width:0 1px 0 0;
}
.entity-simpleshare .sharetype-user,
.entity-simpleshare .sharetype-dept{
	float: left;
}
/* 控件自定义宽高 */
.user-defined-div{
	width:100%;
	float:left;
	margin: 5px 0 5px 0;
}
.comp-width,.comp-height{
	position: relative;
    width: 100%;
    margin-top: 5px;
    height: 30px;
}
.user-defined-width,.user-defined-height{
	margin-left: 5px;
	border-radius: 3px;
    vertical-align: middle;
    height: 30px;
    width:80px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-error {
	white-space: nowrap;
	left: 45px;
    background: none repeat scroll 0 0 #FF6969;
    border-radius: 4px;
    bottom: -11px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    opacity: 0.8;
    padding: 0 3px;
    position: absolute;
    z-index:50;
}
.form-error:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FF6969;
    border-style: solid;
    border-width: 6px;
    content: "";
    height: 0;
    left: 16px;
    position: absolute;
    top: -11px;
}