#mainContainer {
	top: 80px;
}
.eform-right-wrapper .eform-slider{
	background-position: -120px -192px;
}
.eform-right-wrapper .eform-slider:hover {
	background-position: -160px -192px;
}

.hide{
	display : block !important;
}

.span-button{
	line-height: 36px;
    margin-right: 30px;
    width: 160px;
    font-size: 16px;
}

.billitem{
	float : right;
}
