
@font-face {font-family: "uifont";
  src: url('iconfont.eot?t=1501244828406'); /* IE9*/
  src: url('iconfont.eot?t=1501244828406#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501244828406') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501244828406') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501244828406#iconfont') format('svg'); /* iOS 4.1- */
}

.uifont {
  font-family:"uifont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiao-gongshi:before { content: "\e605"; }

.icon-yonghu:before { content: "\e694"; }

.icon-shezhi:before { content: "\e938"; }

.icon-mima:before { content: "\e61d"; }

.icon-tongzhi:before { content: "\e606"; }

.icon-tubiao-home:before { content: "\e6f0"; }

.icon-help:before { content: "\e71b"; }

.icon-tubiao-shaixuan:before { content: "\e600"; }

.icon-tubiao-guanbi-xiao:before { content: "\e6a9"; }

.icon-tubiao-riqi:before { content: "\e6aa"; }

.icon-tubiao-xiaosanjiao-xia:before { content: "\e6ab"; }

.icon-tubiao-xiaosanjiao-shang:before { content: "\e6ac"; }

.icon-tubiao-quxiaoshenhe:before { content: "\e6ad"; }

.icon-tubiao-daoru:before { content: "\e6b0"; }

.icon-tubiao-qiyong:before { content: "\e6b1"; }

.icon-tubiao-xuanpin:before { content: "\e6b2"; }

.icon-tubiao-shanchu:before { content: "\e6b3"; }

.icon-tubiao-xinzeng:before { content: "\e6b4"; }

.icon-tubiao-guanbi-xianxing:before { content: "\e6b5"; }

.icon-tubiao-duigou-xianxing:before { content: "\e6b6"; }

.icon-tubiao-danchuangguanbi:before { content: "\e6b7"; }

.icon-tubiao-shibai:before { content: "\e6b8"; }

.icon-tubiao-tongzhi:before { content: "\e6b9"; }

.icon-tubiao-zhengque:before { content: "\e6ba"; }

.icon-tubiao-jingshi:before { content: "\e6bb"; }

.icon-tubiao-zhishiqixia:before { content: "\e6bc"; }

.icon-tubiao-youfanye:before { content: "\e6bd"; }

.icon-tubiao-zuofanye:before { content: "\e6be"; }

.icon-tubiao-youfanyedan:before { content: "\e6bf"; }

.icon-tubiao-zuofanye-dan:before { content: "\e6c0"; }

.icon-tubiao-zhishiqishang:before { content: "\e6c1"; }

.icon-tubiao-fuzhi:before { content: "\e6c2"; }

.icon-tubiao-daochu:before { content: "\e6c3"; }

.icon-tubiao-bianji:before { content: "\e6c4"; }

.icon-tubiao-shenhe:before { content: "\e6c5"; }

.icon-tubiao-xiaosanjiao-you:before { content: "\e6c7"; }

.icon-tubiao-tingyong:before { content: "\e6c6"; }

.icon-tubiao-canzhao:before { content: "\e6c8"; }

.icon-tubiao-mubiaofenjie:before { content: "\e673"; }

.icon-tubiao-zhuanhua:before { content: "\e6cc"; }

.icon-tubiao-chanpinfenpei:before { content: "\e6cd"; }

.icon-tubiao-yinyong:before { content: "\e6ce"; }

.icon-tubiao-dayin:before { content: "\e6cf"; }

