<div class="site-items list-unstyled">
    <div class="widget-create-eidt">
        <div class="panel-body">
            <form action="widget/save" class="widget-form">
                <div class="form-inline hide">
                    <label class="control-label"></label>
                    <span class="field"></span>
                    <input type="hidden" name="tag" value="{{item.tag}}" class="form-control">
                </div>
                <div class="form-inline">
                    <label class="control-label">名称:</label>
                    <span class="field">*</span>
                    <input type="text" name="name" value="{{item.name}}" placeholder="名称" class="form-control inputRounded round">
                </div>
                <div class="form-inline">
                    <label class="control-label">编码:</label>
                    <span class="field">*</span>
                    <input type="text" name="code" placeholder="编码" value="{{item.code}}" class="form-control round" disabled>
                </div>
                <div class="form-inline">
                    <label class="control-label margin-right-10 ">分类:</label>
                    <select name="category" class="form-control category-list round portal-select">
                        <option value="workbench">工作台</option>
                    </select>
                </div>
                <div class="form-inline">
                    <label class="control-label margin-right-10">类型:</label>
                    <select name="wtype" class="form-control wtype round portal-select">
                        <option {{item.wtype=="url"?"selected=selected":""}} value="url">url</option>
                        <option {{item.wtype=="xml"?"selected=selected":""}} value="xml">xml</option>
                        <option {{item.wtype=="htmlfragment"?"selected=selected":""}} value="htmlfragment">html片段</option>
                        <option {{item.wtype=="js"?"selected=selected":""}} value="js">js</option>
                    </select>
                </div>

                <div class="form-inline wtype-url {{if item.wtype!="url"}}hide{{/if}} ">
                    <label class="control-label">url</label>
                    <span class="field">*</span>
                    <input type="text" name="url" value="{{if item.wtype=="url"}}{{item.cnf}}{{/if}}" placeholder="" class="form-control round"/>

                </div>

                <div class="form-inline wtype-xml {{if item.wtype!="xml"}}hide{{/if}} ">
                    <label class="control-label">{{if item.isVirtXml==true}}(虚){{/if}}xml</label>
                    <span class="field">*</span>
                    <input type="text" name="xml" value="{{if item.wtype=="xml"}}{{item.url}}{{/if}}" placeholder="/gadgets/xxx.xml" class="form-control round"/>

                </div>


                <div class="form-inline wtype-html {{if item.wtype!="htmlfragment"}}hide{{/if}}" >
                    <label class="control-label">html片段</label>
                     <span class="field">*</span>
                     <textarea name="htmlfragment" placeholder="" style="height:50px" class="form-control">{{if item.wtype=="htmlfragment"}}{{item.cnf}}{{/if}}</textarea>
                </div>

                <div class="form-inline wtype-js {{if item.wtype!="js"}}hide{{/if}} ">
                    <label class="control-label">{{if item.isVirtXml==true}}(虚){{/if}}js</label>
                    <span class="field">*</span>
                    <input type="text" name="js" value="{{if item.wtype=="js"}}{{item.cnf}}{{/if}}" placeholder="/portal/gadgets/xxx.js" class="form-control round"/>
                </div>

                <div class="form-inline">
                    <label class="control-label margin-right-10">描述:</label>
                    <input type="text" name="descr" value="{{item.descr}}" placeholder="描述" class="form-control">
                </div>
                <input type="hidden" name="modifytime" value="{{item.modifytime}}" class="form-control"/>
                <div id="errorMessage"></div>
                <!--<div class="modal-footer">
                    <button class="btn btn-primary" id="edit-widget" type="button">保存</button>
                    <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                </div>-->

<div class=" modal-footer u-form-group width-full " id="editWidBottom">
    <button data-dismiss="modal"
            class="u-button u-button-primary pull-right margin-left-10">取消
    </button>
    <button id="edit-widget"
            class="u-button u-button-info margin-left-10 pull-right">保存
    </button>
</div>


</form>
        </div>
    </div>
</div>