
@font-face {font-family: "UIT-iconfont";
  src: url('iconfont.eot?t=1474273281'); /* IE9*/
  src: url('iconfont.eot?t=1474273281#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1474273281') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1474273281') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1474273281#UIT-iconfont') format('svg'); /* iOS 4.1- */
}

.UIT-iconfont {
  font-family:"UIT-iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ztree-div-class.ztree span.ico_open,
.ztree-div-class.ztree span.ico_close,
.ztree-div-class.ztree span.root_open,
.ztree-div-class.ztree span.root_close,
.ztree-div-class.ztree span.bottom_open,
.ztree-div-class.ztree span.bottom_close,
.ztree-div-class.ztree span.button.ico_docu {
  font-family:"UIT-iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.UIT-arrowup:before { content: "\e600"; }
.UIT-101:before { content: "\e628"; }
.UIT-erweima:before { content: "\e63e"; }
.UIT-reqiqiu:before { content: "\e650"; }
.UIT-yousanjiao:before { content: "\e648"; }
.UIT-yulan:before { content: "\e63c"; }
.UIT-tuozhuai:before { content: "\e603"; }
.UIT-wenjian:before { content: "\e64b"; }
.UIT-liebiao:before { content: "\e646"; }
.UIT-jiaoyu:before { content: "\e655"; }
.UIT-designer:before { content: "\e647"; }
.UIT-dianshang:before { content: "\e653"; }
.UIT-qitasheshi:before { content: "\e654"; }
.UIT-fanhui:before { content: "\e63f"; }
.UIT-iconfontxunzhaohunlifuwu:before { content: "\e640"; }
.UIT-department:before { content: "\e631"; }
.UIT-filetext2:before { content: "\e630"; }
.UIT-heilongjiangtubiao02:before { content: "\e641"; }
.UIT-zhuzhuangtu:before { content: "\e64c"; }
.UIT-chevron-copy-copy-copy-copy:before { content: "\e632"; }
.UIT-gengduo:before { content: "\e633"; }
.UIT-ok:before { content: "\e658"; }
.UIT-jiantou:before { content: "\e638"; }
.UIT-s:before { content: "\e649"; }
.UIT-tuandui:before { content: "\e656"; }
.UIT-chouti:before { content: "\e651"; }
.UIT-xianshiqi:before { content: "\e642"; }
.UIT-fankui:before { content: "\e643"; }
.UIT-morebarrow:before { content: "\e604"; }
.UIT-picture:before { content: "\e626"; }
.UIT-date:before { content: "\e627"; }
.UIT-mtext:before { content: "\e607"; }
.UIT-mobilephone:before { content: "\e609"; }
.UIT-mail:before { content: "\e60a"; }
.UIT-morebarrow1:before { content: "\e60b"; }
.UIT-text:before { content: "\e60c"; }
.UIT-checkbox:before { content: "\e60d"; }
.UIT-radio:before { content: "\e60e"; }
.UIT-enclosure:before { content: "\e60f"; }
.UIT-form:before { content: "\e610"; }
.UIT-setting:before { content: "\e611"; }
.UIT-phone:before { content: "\e613"; }
.UIT-component:before { content: "\e62f"; }
.UIT-adduser02:before { content: "\e614"; }
.UIT-link:before { content: "\e615"; }
.UIT-pencil:before { content: "\e616"; }
.UIT-delete:before { content: "\e617"; }
.UIT-cancel02:before { content: "\e618"; }
.UIT-confirm:before { content: "\e619"; }
.UIT-jinrong:before { content: "\e652"; }
.UIT-money:before { content: "\e606"; }
.UIT-adminicon:before { content: "\e61a"; }
.UIT-arrowicon:before { content: "\e61b"; }
.UIT-row2column:before { content: "\e61c"; }
.UIT-row3column:before { content: "\e61d"; }
.UIT-tablelayout:before { content: "\e61e"; }
.UIT-childtable:before { content: "\e61f"; }
.UIT-canvas:before { content: "\e620"; }
.UIT-component1:before { content: "\e621"; }
.UIT-property:before { content: "\e622"; }
.UIT-input:before { content: "\e623"; }
.UIT-line:before { content: "\e605"; }
.UIT-money1:before { content: "\e624"; }
.UIT-password:before { content: "\e625"; }
.UIT-help:before { content: "\e629"; }
.UIT-num:before { content: "\e608"; }
.UIT-code:before { content: "\e612"; }
.UIT-simpletext:before { content: "\e62a"; }
.UIT-percent:before { content: "\e62b"; }
.UIT-dropdown:before { content: "\e62c"; }
.UIT-ref:before { content: "\e62d"; }
.UIT-approvalhistory:before { content: "\e634"; }
.UIT-approvaler:before { content: "\e635"; }
.UIT-assigner:before { content: "\e636"; }
.UIT-documentmaker:before { content: "\e637"; }
.UIT-canzhao:before { content: "\e62e"; }
.UIT-filter:before { content: "\e644"; }
.UIT-fuwu:before { content: "\e657"; }
.UIT-star:before { content: "\e639"; }
.UIT-starhalf:before { content: "\e63a"; }
.UIT-starhollow:before { content: "\e63b"; }
.UIT-plus:before { content: "\e63d"; }
.UIT-wodeyuyue:before { content: "\e64d"; }
.UIT-huaban:before { content: "\e645"; }
.UIT-sqplus:before { content: "\e601"; }
.UIT-sqminus:before { content: "\e602"; }
.UIT-yunbiaodanlogo:before { content: "\e64a"; }
.UIT-baomingshenqing:before { content: "\e64e"; }
.UIT-dengjihuizong:before { content: "\e64f"; }
.UIT-iconfontrow1column:before { content: "\e659"; }
.ztree-div-class.ztree span.ico_open:before,
.ztree-div-class.ztree span.ico_close:before{ 
	content: "\e621"; 
}
.ztree-div-class.ztree span.button.ico_docu:before{
	content: "\e622";
}
.ztree-div-class.ztree span.rootTreenode:before{ 
	content: "\e62f"; 
}
.ztree-div-class.ztree span[componenttype="Reference"]:before{ 
	content: "\e62e"; 
}