@charset "utf-8";
#portalConfig #step-suc {
    display: none
}

#portalConfig #step-suc .step-suc {
    display: inline-block;
    margin: 20px auto
}

#portalConfig #step-suc .step-suc .uf {
    font-size: 20px;
    color: #4ebd7d;
    display: inline-block
}

#portalConfig #step-suc .step-suc .msg {
    display: inline-block
}

#portalConfig #step-suc .step-suc .msg h4,
#portalConfig #step-suc .step-suc .msg h5 {
    margin-left: 25px;
    text-align: left;
    color: #333
}

@media only screen and (min-width:992px) {
    #portalConfig .u-widget {
        min-height: 1200px
    }
}

#portalConfig .headingcss {
    padding: 25px 0 20px;
    margin: 0 90px;
    height: 75px;
    line-height: 75px;
    border-bottom-color: #cecece
}

#portalConfig headingcss h4 {
    font-size: 20px;
    color: #333
}

#portalConfig label {
    /*height: 36px;
    line-height: 36px;*/
    font-size: 14px;
    color: #666
}
#portalConfig .u-input-group input {
    width: 250px;
}
#portalConfig .u-input-group img {
    width: 100px;
    height: 100px;
}
#portalConfig .personsetting .greenbtn {
    background-color: #4ebd7d;
    border: 1px solid #4ebd7d;
    padding: 0 10px;
    font-size: 14px !important
}