#headnav{
  height: 80px;
  margin-left: -6px;
}
.navbar-top-links.navbar-right{
  margin-right: 0;
}
a.navbar-minimalize{
  color: #eeeeee;
  text-decoration: none;
}
a.navbar-minimalize:hover{
  color: #ffffff;
}
a.navbar-minimalize .uifont{
  font-size: 24px;
}
