#roleAuth {
    background-color: initial;
    padding-bottom: 40px;
    font: 14px/18px "Microsoft YaHei"
}

#roleAuth .apptitle,
#roleAuth .ecmi-input {
    background-color: transparent;
    font-family: "Microsoft YaHei";
    color: #333
}

#roleAuth .padlft60 {
    padding-left: 60px
}

#roleAuth input {
    outline: 0
}

#roleAuth .ecmi-input {
    font-size: 13px;
    width: 170px;
    height: 29px;
    line-height: 29px;
    border: 1px solid #d7d7d7;
    outline: 0;
    margin: 0;
    padding: 0 0 0 5px;
    border-radius: initial
}

#roleAuth .ecmi-input:focus {
    border: 1px solid #6bcaea
}

#roleAuth .apptitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px
}

#roleAuth .table-list {
    width: 100%;
    overflow: hidden;
    background-color: #fff
}

#roleAuth .table-list .table-body {
    padding: 20px;
    background-color: #fff
}

#roleAuth .table-list .table-body .u-table tbody tr.active {
    background-color: #c4eaf6
}

#roleAuth .table-list .table-body .t-head-title {
    color: #333;
    font-weight: 700;
    margin-top: -15px;
    margin-bottom: 5px;
    min-height: 45px;
    line-height: 45px;
    overflow: hidden
}

#roleAuth .table-list .table-body .t-head-title .btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #039BE5;
    font-size: 12px;
    color: #fff;
    padding: 0 2px;
    margin-top: -1px;
    /*margin-right: 20px;*/
    border-radius: 4px;
}

#roleAuth .table-list .table-body .t-head-title .search {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

#roleAuth .table-list .table-body .t-head-title .search input {
    width: 180px
}

#roleAuth .table-list .table-body .t-head-title .styled-select {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 30px;
    line-height: 30px;
    margin-top: 7px;
    margin-left: 15px
}

#roleAuth .table-list .table-body .t-head-title .styled-select select {
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
    width: 170px;
    height: 30px;
    line-height: 30px;
    font-family: "microsoft yahei";
    background: 0 0;
    border: 1px solid #ccc;
    outline: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none
}

#roleAuth .table-list .table-body .t-head-title .styled-select select:focus {
    border: 1px solid #6bcaea
}

#roleAuth .table-list .table-body .t-head-title .styled-select .icon-arrow-down {
    position: absolute;
    top: 0;
    right: 5px;
    color: #ccc;
    font-size: 24px
}

#roleAuth .table-list .table-body .t-head-title .nc-search {
    border: 1px solid #cecece;
    font-size: 14px;
    text-indent: 10px;
    height: 36px;
    line-height: 36px;
    outline: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px
}

#roleAuth .table-list .table-body .t-head-title .nc-searchbtn {
    font-size: 20px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    color: #ccc
}

#roleAuth .table-list .pro_oper span.btn,
#roleAuth .table-list .pro_oper span.cancel-btn {
    cursor: pointer;
    display: inline-block;
    /*width: 64px;*/
    height: 25px;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 4px;
}

#roleAuth .table-list .table-body .t-head-title .nc-searchbtn:hover {
    color: #039BE5
}

#roleAuth .table-list .table-body .t-head-title .nc-search:focus {
    border: 1px solid #6bcaea
}

#roleAuth .table-list .pro_oper {
    visibility: hidden
}

#roleAuth .table-list .pro_oper span.btn {
    background-color: #039BE5;
    color: #fff
}

#roleAuth .table-list .pro_oper span.cancel-btn {
    background-color: #eee;
    color: grey
}

#roleAuth .table-list tr.active .pro_oper,
#roleAuth .table-list tr:hover .pro_oper {
    visibility: visible
}

#LoadingImage,
#emptyImage,
.LoadingImage,
.emptyImage {
    text-align: center;
    padding: 9%;
    background-color: #fff
}
#refContainerdataSourceId .u-checkbox-outline {
    top: -10px;
}
.u-table td:first-of-type, .u-table th:first-of-type{
    padding-left: 24px!important;
}