/*reset 重置默认样式*/
html, body{font-size: 12px;height: 100%;width: 100%;}
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, q, em, ul, li, ol, form,
article, aside, embed, dl, dt, dd, table, td, th, input, button, legend, blockquote,
textarea, label, strong, img, fieldset
{margin: 0; padding: 0;}
body{font-family:'Microsoft YaHei',"sans-serif",Arial,'Hiragino Sans GB','Open Sans','Helvetica Neue';}
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
ul, li { list-style-type: none;margin: 0;padding: 0; }
a {color:#333; outline: medium none; text-decoration: none;cursor: pointer;}
img,input,select,option,th,td,textarea{font-family:'Microsoft YaHei',"sans-serif",Arial,'Hiragino Sans GB','Open Sans','Helvetica Neue';border:none;color:#333;}
input{outline: none;}
a:hover { text-decoration:none; }
table {border-collapse: collapse; }
em, cite, b, i { font-style: normal; }
button{border: none;width: 100%;font-family:'Microsoft YaHei',"sans-serif",Arial,'Hiragino Sans GB','Open Sans','Helvetica Neue';}
button:hover{outline: none;}
/*reset 重置默认样式--end*/

/***登录***/
.clearfix::after{content:".";display:block;height: 0;clear:both;visibility:hidden;}
.wrap-box{ width: 100%; height: 100%;  background-color: #F2F9F7; overflow: hidden;}
.login-top-bg{ height: 120px; box-sizing: border-box; padding: 38px 0 0 15px;}
.login-top-con .logo-img{ float:left; width:200px; height: 44px; background: url(images/logo-img.png) no-repeat; background-size: 200px 44px;}
.login-top-con .logo-txt{ margin-left: 230px; height: 44px; line-height: 44px; font-size: 24px; color: #00936D; padding-left: 20px; border-left: 1px solid #00936D;}

.login-con-box{ width: 100%; height: 100%;}
.login-bg{ width: 100%; min-height: 500px; background: url(images/login-bg.png) no-repeat; background-size: 100%; position: relative;}
.login-con{ width: 340px; height: 380px; position: absolute; right: 200px; top: 0; background: #FFFFFF; box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10); border-radius: 4px;;}
.login-con .login-con-title{ margin: 50px auto; text-align: center; font-size: 24px; color: #00936D;}
.login-con .login-item-box{ width: 280px; margin: 0 auto; }
.login-item-box .login-item{ height: 40px; position: relative; margin-bottom: 40px; background: #FFFFFF; border: 1px solid #DDDDDD; border-radius: 4px;}

.login-item .tip-icon{ font-size: 16px; position: absolute; top: 10px; right: 12px; display: none;}
.login-item.focus{background: #FFFFFF; border: 1px solid #5BB9A1; border-radius: 4px; box-shadow: 0 0 3px 3px #E5F4F0;}
.login-item.focus .icon-img{ color: #5BB9A1;}
.login-item.c-orange{ border-color: #FFBB2B; box-shadow: 0 0 3px 3px rgba(255,187,43,0.10);}
.login-item.c-red{ border-color: #E64126; box-shadow: 0 0 3px 3px rgba(230,65,38,0.10);}
.login-item.c-green{ border-color: #5BB9A1;}
.login-item.c-orange .tip-icon.c-orange{ color: #FFBB2B;display: block;}
.login-item.c-red .tip-icon.c-red{ color: #E64126;display: block;}
.login-item.c-green .tip-icon.c-green{ color: #5BB9A1;display: block;}
.login-item .tip-txt{ position: absolute; bottom: -20px; left: 0; font-size: 12px; display: none;}
.login-item.c-orange .tip-txt.c-orange{ color: #FFBB2B; display: block;}
.login-item.c-red .tip-txt.c-red{ color: #E64126;; display: block;}

.login-item.c-orange .icon-img{ color: #FFBB2B;}
.login-item.c-red .icon-img{ color: #E64126;}
.login-item.c-green .icon-img{ color: #5BB9A1;}
.login-item .icon-img{ float: left; width: 40px; height: 40px; line-height: 40px; text-align: center; font-size: 16px; color: #ccc;}
.login-item .ipt{ display: block; margin-left: 40px; width: 70%; border: none; outline: none; background: none; height: 40px; line-height: 40px; font-size: 14px; color: #333;}
input::-webkit-input-placeholder { color: #ccc;}
input:-moz-placeholder {color: #ccc;}
input:-webkit-autofill{-webkit-box-shadow: 0 0 0px 1000px white inset;}
.login-con .login-btn{ display: block; height: 40px; background: #66BEA7; box-shadow: 0 0 10px 0 rgba(0,147,109,0.10); border-radius: 4px; font-size: 18px; color: #FFFFFF; text-align: center; line-height: 40px;}
.login-con .login-btn.success{ background: #00936D;box-shadow: 0 0 10px 0 rgba(0,147,109,0.10);border-radius: 4px;}
.login-con .forget-check{ margin-top: 10px;}
.forget-check .check-icon{ display: inline-block; width: 12px; height: 12px; background: url(images/unchecked-icon.png) no-repeat; background-size: 12px 12px; vertical-align: middle;}
.forget-check .check-icon.checked{ background: url(images/checked-icon.png) no-repeat; background-size: 12px 12px;}
.forget-check .forget-txt{ display: inline-block; font-size: 12px; color: #999999; vertical-align: middle;}
/***登录--end***/

/***修改密码***/
.u-msg-dialog{ width: 400px;background: #FFFFFF; box-shadow: 0 2px 15px 0 rgba(0,0,0,0.50); border-radius: 4px;}
.u-msg-dialog .u-msg-title{ padding: 0 20px; height: 40px; line-height: 40px; font-size: 14px; color: #666666;background: #FAFAFA; box-shadow: 0 1px 0 0 #EEEEEE;border-radius: 4px 4px 0 0;}
.u-msg-title.u-border-bottom{ border-bottom: none;}
.u-msg-dialog .u-msg-close{ float: right; height: 40px; line-height: 40px; margin-right: 10px; font-size: 30px; padding: 0;}
.u-msg-dialog .u-msg-content{margin-top: 20px;}
.u-msg-dialog .u-form-group{ margin-right: 0px; height: 30px;}
.u-msg-dialog .u-form-group.last{ margin-bottom: 0;}
.u-msg-dialog .u-form-group label{ float: left; width: 96px; height: 30px; line-height: 30px; text-align: right; font-size: 12px; color: #333333; padding-right: 0;}
.u-msg-dialog .u-form-group .ipt-item{ float: left; padding-left:0; margin-left: 10px; width: 220px; height: 30px;background: #FFFFFF;border: 1px solid #DDDDDD;border-radius: 4px; position: relative;}
.u-msg-dialog .u-form-group .ipt-item.focus{background: #FFFFFF; border: 1px solid #5BB9A1; border-radius: 4px; box-shadow: 0 0 3px 3px #E5F4F0;}

.ipt-item .tip-icon{ font-size: 16px; position: absolute; top: 4px!important; left:196px!important; display: none;}
.ipt-item .tip-icon.c-green{ color: #5BB9A1;}
.ipt-item .tip-txt{ position: absolute; bottom: -20px; left: 0; font-size: 12px; display: none;}
.ipt-item .tip-txt.c-red{ color: #E64126;}
.u-msg-dialog .u-form-group .ipt-item .ipt{ display: block; height: 28px; line-height: 28px; background: none; outline: none; border:none;font-size: 12px;color: #333;}

.u-msg-dialog .u-msg-footer{ height: 40px; width: 100%; padding:0;}
.u-msg-dialog .u-msg-footer .btn{float: left; width: 200px; height: 40px; line-height: 40px; text-align: center; font-size: 14px;margin:0;}
.u-msg-dialog .u-msg-footer .btn.u-msg-cance{ background: #EEEEEE; border-radius: 0 0 0 4px; color: #666;}
.u-msg-dialog .u-msg-footer .btn.u-msg-ok{ color: #fff; background: #66BEA7; border-radius: 0 0 4px 0px;}
.u-msg-dialog .u-msg-footer .btn.u-msg-ok.success{background: #00936D;}
/***修改密码--end***/
